<div class="col-xs-12 col-sm-6 col-md-3">
<div class="sol">
  <img class="img-responsive" src="{{ asset('images/index/portfolio/' ~ image.file) }}" alt="First category picture">
  <div class="behind">
      <div class="row box-content">
        <ul class="list-inline text-center">
          <li><i class="fa fa-eye">Views: </i> {{ image.numViews }}</li>
          <li><i class="fa fa-heart">Likes: </i> {{ image.numLikes }}</li>
          <li><i class="fa fa-download"> Downloads: </i> {{ image.numDownloads }}</li>
        </ul>
      </div>
  </div>
</div>
</div> 
