{% extends 'base.html.twig' %}
{% block title%}Thank You{% endblock %}
{% block body%}
<!-- Principal Content Start -->
   <div id="thankyou">
      	<div class="container">
			<div class="col-xs-12 col-sm-8 col-sm-push-2">
				<div class="jumbotron">
					<h1 class="display-4">Gracias!</h1>
					<p class="lead">Gracias por ponerte en contacto con nosotros.</p>
				</div>
			</div>
		</div>
   </div>
<!-- Principal Content Start -->
{% endblock %}